name: cpy-cron

on: 
  push:
    branches:
      - test-*
  schedule:
    - cron: '45 0 * * *'
  workflow_dispatch:
    inputs:
      do_commit:
        description: 'Commit feed back to branch?'
        type: boolean
        required: true
        default: false
      log_debug:
        description: 'Turn on debug output?'
        type: boolean
        required: true
        default: true


jobs:
  feedgen:
    name: Update CPython release feed
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
        cache-dependency-path: |
          requirements.txt

    - name: Update pip
      run: python -m pip install -U pip

    - name: Install & report dependencies
      run: |
        python -m pip install -r requirements.txt
        python --version
        pip list

    - name: Update feed
      env:
        LOG_DEBUG: ${{ inputs.log_debug }}
      run: |
        python make_feed.py

    - name: Commit feed (depending)
      env:
        TRIGGER: ${{ github.event_name }}
        COMMIT_OPTION: ${{ inputs.do_commit }}
        LOG_DEBUG: ${{ inputs.log_debug }}
      run: |
        echo TRIGGER is "'"$TRIGGER"'"
        echo COMMIT_OPTION is "'"$COMMIT_OPTION"'"
        echo LOG_DEBUG is "'"$LOG_DEBUG"'"
        git status
        ./do_commit
